Importando as funções a serem utilizadas

In [5]:
import pandas as pd
import pyodbc

Conexão com a base de dados

In [6]:
conn = pyodbc.connect('''DRIVER={ODBC Driver 17 for SQL Server};
                      Server=tcp:fgv-db-server.database.windows.net,1433;Initial Catalog=fgv-db;Persist Security Info=False;User ID=student;Password={your_password};MultipleActiveResultSets=False;Connection Timeout=30;
                      DATABASE=fgv-db;
                      UID=student;
                      PWD=@dsInf123''')

Associando a tabela a ser utilizada com uma variável

In [7]:
df = pd.read_sql('SELECT * FROM real_state.real_state_values',conn)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511 entries, 0 to 510
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     511 non-null    float64
 1   ZN       511 non-null    float64
 2   INDUS    511 non-null    float64
 3   CHAS     511 non-null    bool
 4   NOX      511 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      511 non-null    float64
 7   DIS      511 non-null    float64
 8   RAD      511 non-null    int64
 9   TAX      511 non-null    int64
 10  PTRATIO  511 non-null    float64
 11  B        511 non-null    float64
 12  LSTAT    511 non-null    float64
 13  MEDV     511 non-null    float64
dtypes: bool(1), float64(11), int64(2)
memory usage: 52.5 KB

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,False,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.00906,90.0,2.97,False,0.400,7.088,20.8,7.3073,1,285,15.3,394.72,7.85,32.2
2,0.01096,55.0,2.25,False,0.389,6.453,31.9,7.3073,1,300,15.3,394.72,8.23,22.0
3,0.01301,35.0,1.52,False,0.442,7.241,49.3,7.0379,1,284,15.5,394.74,5.49,32.7
4,0.01311,90.0,1.22,False,0.403,7.249,21.9,8.6966,5,226,17.9,395.93,4.81,35.4